/* common css starts  */
body{
    font-family: 'Roboto', sans-serif;
    color: #3e3e3e;
    background-color: white;
}
h1, h2, h4{
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
}
ul, li, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.section-pad{
    padding-top: 150px;
}
.section-header{
    font-size: 48px;
    color: #363958;
    padding-bottom: 30px;
}
.btn-img{
    width: 30px;
}
.btn-cart{
    background-color: #A4BC46;
    border-color: #A4BC46;
}
.box-shadow{
    border-radius: 10px;
    border: none;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.5);
}

/* common css ends */

header{
    background-color: #FFFBF0;
}
.navbar-brand img{
    height: 25px;
    width: auto;
}
.banner{
    padding-bottom: 150px;
}
.banner-text{
    padding-top: 50px;
    padding-bottom: 50px;
}
.banner-text h1{
    font-size: 50px;
    font-weight: bold;
    color: #FABE4C;
}
.banner-text h1 span{
    color: #363958;
}
.banner-img{
    width: 250px;
    height: auto;
    margin: 0 auto;
}

/* card */
.card{
    margin-bottom: 20px;
}
.card:hover{
    transform: translateY(-10px);
    transition: all .5s ease;
    background-color: #F1F1F1;
}
.card:hover > .card-img{
    background-color: #ffffff;
}
.card-img{
    width: 250px;
    height: auto;
    margin: 0 auto;
    background-color: #F1F1F1;
    border-radius: 10%;
}
.card h4{
    color: #FABE4C;
    font-size: 36px;
}

/* about */
.about-img{
    margin-bottom: 30px;
}
.about-box:hover{
    transform: scale(1.03);
    transition: all .5s ease;
}
.about-box-img{
    width: 80px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 15px;
}

/* footer starts */
.footer{
    padding: 100px 0;
}
.footer-content{
    text-align: center;
}
.footer-list{
    padding-left: 0;
}
.footer-text{
    margin-top: 20px;
    padding: 40px 0;
    border-top: 1px solid #DADEE3;
}
.footer a{
    color: #3e3e3e;
}
.social-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #A4BC46;
    display: inline-block;
    position: relative;
    transition: all .5s ease;
}
.social-icon a{
    color: #ffffff;
}
.social-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-icon:hover {
    background-color: #198754;
}
/* footer ends  */

/* resposive code here  */

@media all and (min-width: 576px){
    .navbar-brand img{
        height: 40px;
    }
    .banner-img{
        width: 350px;
    }
}
@media all and (min-width: 768px){
    .banner{
        padding-top: 150px;
    }
    .banner-text{
        padding-top: 100px;
        padding-bottom: 0px;
    }
    .banner-text h1{
        font-size: 80px;
    }
    .about-img{
        margin-bottom: 0px;
    }
    .about-box-img{
        margin-bottom: 0px;
    }
    .card{
        margin-bottom: 0px;
    }
    .card-img{
        width: 200px;
    }
    .footer-content{
        text-align: left;
    }
}
@media all and (min-width: 992px){
    .card-img{
        width: 250px;
    }
    .banner-img{
        width: 500px;
    }
}